# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.html
dist/run1308850123/OscarNewsstand.jnlp
*.png
dist/run1308850123/web-files/javafx-loading-25x25.gif
*.gif
*.js
dist/OscarNewsstand.jnlp
*.jnlp
dist/OscarNewsstand.jnlp
*.properties
build/classes/newsstand_project/Newsstand_Project$1.class
*.class
